---
Language: Cpp
BasedOnStyle: Microsoft
NamespaceIndentation: All
BinPackArguments: true
BinPackParameters: OnePerLine
---
Language: CSharp
BasedOnStyle: Microsoft
---
Language: Json
BasedOnStyle: Google
